@font-face {
    font-family: 'Aileron SemiBold';
    src: url('./Fonts/Aileron-SemiBold.otf') format(otf);
    font-weight: SemiBold;
}

@font-face {
  font-family: 'Aileron Bold';
  src: url(./Fonts/Aileron-Bold.otf); 
  font-weight: bold;
}

@font-face {
  font-family: 'Aileron Regular';
  src: url(./Fonts/Aileron-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: 'Tan';
  src: url(./Fonts/TAN\ -\ Angleton\ Regular.ttf);
}


:root{
    /* Color scheme */
    --background-color:#E7E7DF;
    --font-titles: #A430DA;
    --font-black-titles: #000000;
    --color-header: #7509A7;

    
    /* Typography */
    --titles-size-header: 16px;
    --titles-size-footer: 24px;
    --font-size-heading: 24px;


  
    /* Spacing */
    --spacing-unit: ;

    /* Transitions */
    --transition-duration: 0.2s;
    --scale: 1;
    --scale-hover: 1.1;
  }



/* Estilos básicos de la barra de navegación */
body {
    margin: 0;
    font-size: var(--titles-size-header);
    font-family: 'Aileron Regular';
  
   
  }
  
  .navbar {
    display: flex;
    background-color: var(--background-color);
    align-items: center;
    padding: 20px 16px;
  }
  
  .navbar a {
    text-decoration: none;
    padding: 4px 20px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .navbar a:not(.logo) {
    color: black; /* Color de fuente negro para todos los enlaces excepto el logo */
  }
  
  /* Estilos de los enlaces de navegación */
  .nav-links {
    display: flex;
    margin-left: auto; /* Empuja los elementos hacia la derecha */
  }
  
.logo
{
  color: var(--font-titles);
  font-family: 'Aileron Bold';
  font-weight: bold;
}

.language
{
  width: 20px;
 

}

#resume
{
  border: 1px solid var(--font-titles);
  border-radius: 25px;
}
/* Estilos para el menú desplegable */
.dropdown {
  position: relative;
  justify-content: space-between;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 150px;
  top: 100%;
  left: 0;
  z-index: 1;
  flex-direction: column;
}

.dropdown-menu a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #ddd;
  color: black;
}

 /* Clase para mostrar el menú desplegable */
 .show {
  display: flex;
}

/* Contenedor del switch */
.switch-container {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* Ocultar el checkbox original */
.toggle-checkbox {
  display: none;
}

/* Estilos del slider */
.toggle-slider {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.toggle-slider:before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Estado cuando está activado */
.toggle-checkbox:checked + .toggle-slider {
  background-color: #4CAF50;
}

.toggle-checkbox:checked + .toggle-slider:before {
  transform: translateX(20px);
}


  /* Para que el navbar siempre esté visible en todas las pantallas */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: row;
    }
  }
  



  /* Ejemplo de CSS para tu clase .AnimP */


  .overlay-container {
    position: relative; /* Base para posicionar los hijos */
    width: 100%;       /* Ajusta al ancho de la pantalla */
    height: 300%;     /* Ajusta según sea necesario */
  }


  .titleP {
    position: absolute; /* Independencia de otros elementos */
    top: 25%;          /* Mueve este elemento hacia abajo desde el contenedor */
    left: 50%;          /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta al centro exacto */
    z-index: 2;         /* Se coloca sobre .anim1 */
    margin-top: 100px;
  }

  /* Animación superpuesta */
.Anim1 {
  position: absolute; /* Independencia de otros elementos */
  top: 100px;         /* Mueve este elemento hacia abajo sin afectar .titleP */
  left: 28%;          /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta al centro exacto */
  z-index: 1;         /* Aparece detrás de .titleP */
  opacity: 0.8;       /* Opcional: transparencia */
  animation: slideAnimation 4s ease-in-out infinite; /* Repetición infinita */
  max-width: 1.5%;
  
}

   .AnimP {
    max-width: 100%;
   }

   /* Define la animación con @keyframes */
@keyframes slideAnimation {
  0% {
    transform: translateX(-2vw); /* Comienza desplazándose hacia la izquierda */
    opacity: 0; /* Empieza invisible */
  }
  50% {
    transform: translateX(10vw); /* Desplazamiento hacia la derecha */
    opacity: 0.8; /* Aparece parcialmente */
  }
  100% {
    transform: translateX(0); /* Termina en su posición original */
    opacity: 1; /* Totalmente visible */
  }
}


.Anim2 {
  position: absolute; /* Independencia de otros elementos */
  top: 100px;         /* Mueve este elemento hacia abajo sin afectar .titleP */
  left: 26%;          /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta al centro exacto */
  z-index: 1;         /* Aparece detrás de .titleP */
  opacity: 0.8;       /* Opcional: transparencia */
  animation: slideAnimation2 4s ease-in-out infinite;
  max-width: 1.5%;
  
}


   /* Define la animación con @keyframes */
   @keyframes slideAnimation2 {
    0% {
      transform: translateX(-10px); /* Comienza desplazándose hacia la izquierda */
      opacity: 0; /* Empieza invisible */
    }
    50% {
      transform: translateX(50px); /* Desplazamiento hacia la derecha */
      opacity: 0.8; /* Aparece parcialmente */
    }
    100% {
      transform: translateX(0); /* Termina en su posición original */
      opacity: 1; /* Totalmente visible */
    }
  }


  .Anim3 {
    position: absolute; /* Independencia de otros elementos */
    top: 100px;         /* Mueve este elemento hacia abajo sin afectar .titleP */
    left: 27%;          /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta al centro exacto */
    z-index: 1;         /* Aparece detrás de .titleP */
    opacity: 0.8;       /* Opcional: transparencia */
    animation: slideAnimation3 4s ease-in-out infinite;
    max-width: 1.5%;
    
  }
  
  
     /* Define la animación con @keyframes */
     @keyframes slideAnimation3 {
      0% {
        transform: translateX(-10px); /* Comienza desplazándose hacia la izquierda */
        opacity: 0; /* Empieza invisible */
      }
      50% {
        transform: translateX(50px); /* Desplazamiento hacia la derecha */
        opacity: 0.8; /* Aparece parcialmente */
      }
      100% {
        transform: translateX(0); /* Termina en su posición original */
        opacity: 1; /* Totalmente visible */
      }
    }
  

    .Anim4 {
      position: absolute; /* Independencia de otros elementos */
      top: 130px;         /* Mueve este elemento hacia abajo sin afectar .titleP */
      left: 385px;          /* Centra horizontalmente */
      z-index: 1;         /* Aparece detrás de .titleP */
      opacity: 0.8;       /* Opcional: transparencia */
      animation: slideAnimation4 30s ease-in-out infinite;
      max-width: 10%;
      
    }
    
    
       /* Define la animación con @keyframes */
       @keyframes slideAnimation4 {
        0% {
          opacity: 0; /* Empieza invisible */
        }
        50% {
          opacity: 0.9; /* Aparece parcialmente */
        }
        10% {
          opacity: 1; /* Totalmente visible */
        }
      }
    
      .Anim3 {
    position: absolute; /* Independencia de otros elementos */
    top: 100px;         /* Mueve este elemento hacia abajo sin afectar .titleP */
    left: 27%;          /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta al centro exacto */
    z-index: 1;         /* Aparece detrás de .titleP */
    opacity: 0.8;       /* Opcional: transparencia */
    animation: slideAnimation3 4s ease-in-out infinite;
    max-width: 1.5%;
    
  }
  
  
     /* Define la animación con @keyframes */
     @keyframes slideAnimation3 {
      0% {
        transform: translateX(-10px); /* Comienza desplazándose hacia la izquierda */
        opacity: 0; /* Empieza invisible */
      }
      50% {
        transform: translateX(50px); /* Desplazamiento hacia la derecha */
        opacity: 0.8; /* Aparece parcialmente */
      }
      100% {
        transform: translateX(0); /* Termina en su posición original */
        opacity: 1; /* Totalmente visible */
      }
    }



    /* Estilo base para el contenedor de las imágenes */
.imagen-container {
  width: 300px;
  height: 200px;
  left: 1000px;
  position: relative;
  overflow: hidden; /* Oculta las imágenes fuera del contenedor */
  z-index: 1;         /* Aparece detrás de .titleP */
}

/* Estilo de las imágenes */
.imagen {
  position: absolute;
  top: 100px;
  width: 27%;
  height: 27%;
  object-fit: contain;
  opacity: 0; /* Comienza oculta */
  animation: cambio-imagen 3s infinite; /* Animación de 3 segundos, se repite infinitamente */
}

/* Definir la animación con @keyframes */
@keyframes cambio-imagen {
  0%, 100% {
      opacity: 1; /* Imagen visible al principio */
  }
  50% {
      opacity: 0; /* Imagen oculta a mitad de la animación */
  }
}

/* Especificar un retraso para la segunda imagen */
.imagen:nth-child(2) {
  animation-delay: 5s; /* La segunda imagen se muestra después de 3 segundos */
}


.Anim5 {
  position: absolute; /* Independencia de otros elementos */
  top: 160px;         /* Mueve este elemento hacia abajo sin afectar .titleP */
  left: 560px;          /* Centra horizontalmente */
  z-index: 1;         /* Aparece detrás de .titleP */
  max-width: 28%;
  height: 2px;
  
}


.Anim6 {
  position: absolute; /* Independencia de otros elementos */
  top: 150px;         /* Mueve este elemento hacia abajo sin afectar .titleP */
  left: 60%;          /* Centra horizontalmente */
  z-index: 1;         /* Aparece detrás de .titleP */
  opacity: 0.8;       /* Opcional: transparencia */
  animation: slideAnimation6 20s ease-in-out infinite;
  max-width: 6%;
  
}


   /* Define la animación con @keyframes */
   @keyframes moveLeftRight {
    0% {
      transform: translateX(0); /* Posición inicial */
    }
    50% {
      transform: translateX(-335px); /* Mover a la izquierda */
    }
    100% {
      transform: translateX(0); /* Regresar a la posición original */
    }
  }
  
  .Anim6 {
    animation: moveLeftRight 50s ease-in-out infinite; /* Animación continua */
  }

  .Anim7 {
    position: absolute; /* Independencia de otros elementos */
    top: 130px;         /* Mueve este elemento hacia abajo sin afectar .titleP */
    left: 72.8%;          /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta al centro exacto */
    z-index: 2;         /* Aparece detrás de .titleP */
    animation: slideAnimation7 4s ease-in-out infinite;
    max-width: 10%;
    
  }
  
  
     /* Define la animación con @keyframes */
     @keyframes slideAnimation2 {
      0% {
        transform: translateX(-10px); /* Comienza desplazándose hacia la izquierda */
        opacity: 0; /* Empieza invisible */
      }
      50% {
        transform: translateX(50px); /* Desplazamiento hacia la derecha */
        opacity: 0.8; /* Aparece parcialmente */
      }
      100% {
        transform: translateX(0); /* Termina en su posición original */
        opacity: 1; /* Totalmente visible */
      }
    }
  

    .Anim8 {
      position: absolute; /* Independencia de otros elementos */
      top: 225px;         /* Mueve este elemento hacia abajo sin afectar .titleP */
      left: 34.3%;          /* Centra horizontalmente */
      transform: translateX(-50%); /* Ajusta al centro exacto */
      z-index: 1;         /* Aparece detrás de .titleP */
      opacity: 0.8;       /* Opcional: transparencia */
      /*animation: slideAnimation2 8s ease-in-out infinite; */
      max-width: 2.5%;
      
    }
  
    p
    {
      color: var(--font-titles);
    
      
    }

    
    





body { 
  background-color: var(--background-color);
}

footer
{
  background-color: var(--color-header);
  margin-top: 17%;
  width: 100%;
  height: 5em;
  
}

#name_footer
{
  color: var(--background-color);
  font-family: 'Aileron Bold';
  font-weight: bold;
  font-size: var(--titles-size-footer);
}

.title
{
  margin-right: 30%;
  border-left: 40px solid #000; /* Borde izquierdo */
  padding-left: 10px; /* Espacio interno después del borde */
  margin-right: 20px; /* Espacio a la derecha */
}