@font-face {
    font-family: 'Aileron SemiBold';
    src: url('./Fonts/Aileron-SemiBold.otf') format(otf);
    font-weight: SemiBold;
}

@font-face {
  font-family: 'Aileron Bold';
  src: url(./Fonts/Aileron-Bold.otf); 
  font-weight: bold;
}

@font-face {
  font-family: 'Aileron Regular';
  src: url(./Fonts/Aileron-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: 'Tan Bold';
  src: url(./Fonts/TAN\ -\ Angleton\ Regular.ttf);
  font-weight: normal;
}


:root{
    /* Color scheme */
    --background-color:#E7E7DF;
    --font-titles: #A430DA;
    --font-black-titles: #000000;
    --color-header: #7509A7;
    --button-color: #7354E3;

    
    /* Typography */
    --titles-size-header: 16px;
    --titles-size-footer: 20px;
    --titles-size-footer-rol: 16px;
    --font-size-heading: 24px;


  
    /* Spacing */
    --spacing-unit: ;

    /* Transitions */
    --transition-duration: 0.2s;
    --scale: 1;
    --scale-hover: 1.1;
  }



/* Estilos básicos de la barra de navegación */
body {
  margin: 0;
  font-size: var(--titles-size-header);
  font-family: 'Aileron Regular';
  background-color: var(--background-color);

 
}

.navbar {
  display: flex;
  background-color: var(--background-color);
  align-items: center;
  padding: 20px 16px;
}

.navbar a {
  text-decoration: none;
  padding: 4px 20px;
}

.navbar a:hover {

  color: var(--button-color);
}

.navbar a:not(.logo) {
  color: black; /* Color de fuente negro para todos los enlaces excepto el logo */
}

.navbar a:not(.logo):hover
{
  color: var(--font-titles);
}

/* Estilos de los enlaces de navegación */
.nav-links {
  display: flex;
  margin-left: auto; /* Empuja los elementos hacia la derecha */
}

.nav-links:hover {
  color: var(--color-header);
}



.logo
{
color: var(--font-titles);
font-family: 'Aileron Bold';
font-weight: bold;
}

.language
{
width: 20px;


}

#resume
{
border: 1px solid var(--font-titles);
border-radius: 25px;
}
/* Estilos para el menú desplegable */
.dropdown {
position: relative;
justify-content: space-between;
 }

.dropdown-toggle {
display: flex;
align-items: center;
cursor: pointer;
}

.dropdown-menu {
display: none;
position: absolute;
background-color: #333;
min-width: 150px;
top: 100%;
left: 0;
z-index: 1;
flex-direction: column;
}

.dropdown-menu a {
color: white;
padding: 10px;
text-decoration: none;
display: block;
}

.dropdown-menu a:hover {
background-color: #ddd;
color: black;
}

/* Clase para mostrar el menú desplegable */
.show {
display: flex;
}

/* Contenedor del switch */
.switch-container {
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;
}

/* Ocultar el checkbox original */
.toggle-checkbox {
display: none;
}

/* Estilos del slider */
.toggle-slider {
position: relative;
width: 40px;
height: 20px;
background-color: #ccc;
border-radius: 20px;
transition: background-color 0.3s;
cursor: pointer;
}

.toggle-slider:before {
content: "";
position: absolute;
height: 16px;
width: 16px;
left: 2px;
bottom: 2px;
background-color: white;
border-radius: 50%;
transition: transform 0.3s;
}

/* Estado cuando está activado */
.toggle-checkbox:checked + .toggle-slider {
background-color: #4CAF50;
}

.toggle-checkbox:checked + .toggle-slider:before {
transform: translateX(20px);
}


  /* Para que el navbar siempre esté visible en todas las pantallas */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: row;
    }
  }
  

  .text {
    font-size: 70px; /* Ajusta el tamaño del título */
    margin: 0px;
    font-family: 'Tan Bold';
    font-weight: normal;
    color: var(--font-titles);
    text-align: center;
    padding-top: 0.5em;
  }



  .container {
    display: flex; /* Activar flexbox */
    align-items: center; /* Centrar verticalmente la imagen y el texto */
    justify-content: flex-start; /* Alinea todo hacia la izquierda */
    padding-top: 5em; /* Espaciado superior */
    padding-left: 15em;
    padding-right: 15em;
    position: relative; /* Necesario para posicionar absolutamente las imágenes dentro */
  }
  
  
  
  .image-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Cambia el cursor a mano al pasar */
    margin-left: 30em;
    margin-top:-3em;
   
}

.image-wrapper .anim_ab1 {
    display: block;
    max-width: 10em;
    transition: opacity 0.3s ease; /* Suaviza el cambio */
}

.image-wrapper:hover .anim_ab1 {
    opacity: 0; /* Oculta la imagen original */
}

.image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./Img/anim_p2_open..png'); /* Imagen de hover */
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease; /* Suaviza el cambio */
}

.image-wrapper:hover::after {
    opacity: 1; /* Muestra la nueva imagen */
}




  .anim_ab2 {
    position: absolute; /* Posicionar la imagen detrás del contenido */
    top: 0; /* Asegura que la imagen esté en la parte superior */
    left: 0; /* Coloca la imagen a la izq */
    bottom: 0;

    max-width: 16em;
    padding-top: 2em;
    padding-left: 28em;

  }

  .anim_ab3 {
    position: absolute; /* Posicionar la imagen detrás del contenido */
    top: 0; /* Asegura que la imagen esté en la parte superior */
    left: 0; /* Coloca la imagen a la izq */
    bottom: 0;
   
    max-width: 10em;
    padding-top: 2em;
    padding-left: 17em;

  }

  .anim_ab4 {
    position: absolute; /* Posicionar la imagen detrás del contenido */
    top: 0; /* Asegura que la imagen esté en la parte superior */
  left: 0; /* Coloca la imagen a la derecha */
    bottom: 0;

    max-width: 17em;
    padding-top: 2em;
    padding-left: 56em;
  }









  .grid-container {
    display: grid; /* Activar el sistema de grid */
    grid-template-columns: repeat(2, 1fr); /* Crear 2 columnas de igual tamaño */
    gap: 20px; /* Espacio entre los elementos del grid */
    padding-top: 2em;
    padding-left: 12em;
    padding-right: 12em;

}

.grid-item {

    padding: 15px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid var(--color-header); /* Borde de 2px con color gris claro */
    display: flex; /* Para colocar la imagen y el texto en línea */
    align-items: center; /* Alineación vertical centrada */
}


.grid-item:hover
{
  background-color: #D7D7B5;
}

.capsule {
    display: flex; /* Usamos flexbox para que la imagen esté a la izquierda y el texto a la derecha */
    align-items: center; /* Alineamos verticalmente los elementos */
}

.capsule-image {
   max-width: 15em;
    margin-right: 15px; /* Espacio entre la imagen y el texto */
    
}

.capsule-text {
    display: flex;
    flex-direction: column; /* Asegura que el título y el subtítulo estén apilados */
}

.capsule-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0; /* Elimina el margen para un mejor ajuste */
}

.capsule-subtitle {
    font-size: 14px;
    color: #777; /* Un color más suave para el subtítulo */
}

.text_work {
  font-size: 70px; /* Ajusta el tamaño del título */
  margin: 0px;
  font-family: 'Tan Bold';
  font-weight: normal;
  color: var(--font-titles);
  text-align: center;
  padding-top: 5em;
}





.my-button {
  color: var(--color-header); /* Color del texto */
  padding: 10px 20px; /* Espaciado alrededor del texto */
  border: 2px solid var(--color-header); /* Borde de 2px con color gris claro */
  border-radius: 18px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor a mano cuando pasa sobre el botón */
  font-size: 16px; /* Tamaño del texto */
  width: 6em;
  height: 1.5em; /* Ajusta la altura para que el texto se vea centrado */
  display: flex; /* Activa el modelo de flexbox */
  justify-content: center; /* Centra el texto horizontalmente */
  align-items: center; /* Centra el texto verticalmente */
  margin-top: 0.5em;
}
